#glcanvas {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999999;
}
.animated{
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both 
}
.animated.infinite{
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite 
}
.animated.hinge{
	-webkit-animation-duration:2s;
	animation-duration:2s 
}
.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{
	-webkit-animation-duration:.75s;
	animation-duration:.75s 
}
.animated.flip{
	-webkit-backface-visibility:visible;
	backface-visibility:visible;
	-webkit-animation-name:flip;
	animation-name:flip 
}
@-webkit-keyframes fadeIn{
	0%{
		opacity:0 
   }
	to{
		opacity:1 
   }
}
@keyframes fadeIn{
	0%{
		opacity:0 
   }
	to{
		opacity:1 
   }
}
.fadeIn{
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn 
}
